input {
  height: 40px;
  padding: 4px 16px;
  margin-top: 1rem;
  font-size: 18px;
}

input:focus {
  outline: 0;
  border: 2px solid orange;
}

.submitBtn {
  border: none;
  background: orange;
  height: 48px;
  color: #fff;
  border-radius: 4px;
}

a {
  text-decoration: none;
  padding: 0 8px;
}
